@using P1.SeccIPortfolioApp__.Client.Models;
@page "/"
@inject HttpClient Http

<h3>Portfolio List</h3>

@if (portfolios == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Client Id</th>
                <th>Name</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in portfolios)
            {
                <tr>
                    <td>@p.Id</td>
                    <td>@p.Name</td>
                    <td>@p.Status</td>
                    <td>
                        <a class="btn btn-primary"
                           href="/portfolio/@p.Id">
                            View
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code
{
    private List<Portfolio>? portfolios;
    private string? errorMessage;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            portfolios = await Http.GetFromJsonAsync<List<Portfolio>>
            (
                "api/portfolio"
            );
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
}
@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">
        Error: @errorMessage
    </div>
}